body {
  background-color: #faf0d7a4;
  color:#8CC0DE;
  font-family: 'Waiting for the Sunrise', cursive;
}
div {
  width:70%;
  height: auto;
  margin: auto 100px;
  display:flex;
  flex-direction: column;
  
}


h2{
  text-align: center;
  color: #F4BFBF;
  font-size: 25px;
}

h3{
  text-align: center;
  color: hsl(24, 83%, 54%);
  font-size: 20px;
  font-weight: 300;
}

a{
  text-decoration: dashed;
}

p{
  font-size: 19px;
  text-align: center;
}