*{
  margin: 0;
  padding: 0;
}

body{
  color: #674188;
}



.box {
  width: 100%;
  height: 100vh;
  background: #F3E8FF;

}

a{
  text-decoration: none;
}

a:hover {
  color: #c5cae9;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cute Font', cursive;

}

.container p {
  font-size: 22px;
}

nav div{
  padding:7px 30px;
}

.no-underline {
  text-decoration: none;
}
nav {
 background-color:#BA90C6 ;
 height: 33px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 position: fixed;
 font-family: 'Nanum Pen Script', cursive;
 font-size: 25px;
 text-shadow: 2px 2px 4px #E8A0BF;
}
h1{
  text-align: center;
  height: 68px;
  padding: 50px 40px;
  
}
p{
  text-align: center;
  height: 100px;
  padding-top:10px;
}

.aboutme-ct {
 background-color: beige;
 display: flex;
 flex-direction: row;
 justify-content: center;
 height: 600px;
 
}


.box-i img{
 width:300px;
 height: auto;
 border-radius: 50%;
 
 
}

.box h3{
  color:#413543;
  font-size: 20px;
  margin: 20px 0;
  letter-spacing: 4px;
  text-align: center;
}



.box-i{
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

.heart img{
  width: 30px;
  height:30px;
  padding:19px;
}

.heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  
}

.career{
  text-align: center;
  background: #ECF2FF;
  width:68%;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
  margin-left:52px;
  margin-top:153px;
  letter-spacing: 2px;
  border-radius: 4%;
  font-family: 'Zeyada', cursive;
}

.career p{
  font-size:16px;
 
}

.fav{
  text-align: center;
  background: #F3CCFF;
  width:68%;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
  margin-left:52px;
  margin-top:153px;
  letter-spacing: 2px;
  border-radius: 4%;
  font-family: 'Zeyada', cursive;
}

.fav p{
  font-size:16px;
 
}

.tech{
  text-align: center;
  background: #FFECEF;
  width:68%;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
  margin-left:52px;
  margin-top:153px;
  letter-spacing: 2px;
  border-radius: 4%;
  text-decoration: none;
  font-family: 'Zeyada', cursive;
}

li{
  list-style: none;
}

span{
  color:#BA90C6;
}

@media screen and (max-width: 400px) {
  body{
   color: grey;
   
 }

 nav {
  font-size: 10px;
}

.fav{
  width:68%;
  height: 241px;
  padding: 10px;
  
}

.career{
  width:68%;
  height: 400px;
  padding: 10px;
}
.tech{
  width:68%;
  height: 279px;
  padding: 10px;
}


.box-i img{
  width:200px;
  height: auto;
  
  }
}